body {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 50% 0%;
  width: 70%;
  min-height: 50vh;
  height: min-content;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid black;
  margin-left:auto;
  margin-right:auto;
}

.title {
  display: flex;
  align-self: flex-start;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin: 30px;
}

.recent-score {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent-title {
  display: flex;
  gap: 10px;
}

.recent-title button {
  height: 30px;
  align-self: center;
}

.recent-display {
  border: 2px solid #000;
}

.add-score {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-form button {
  margin-top: 30px;
  width: 60px;
  align-self: flex-end;
}
